<html>
    <head>
        <style>
            table,th,td{
            border: 1px solid black;
            width:50%;
        }
        </style>
    </head>

<body>

    <h2>A basic HTML table</h2>

    <table>
        <tr>
            <th>Email</th>
            <th>id</th>
            <th>number</th>
        </tr>
        <tr>
            <td>Eliseo@gardner.biz</td>
            <td>1</td>
            <td>id labore ex et quamlaborum</td>
        </tr>
        <tr>
            <td>Jayne_Kuhic@sydney.com</td>
            <td>2</td>alias odio sit
        <tr>
            <td>Nikita@garfield.biz</td>
            <td>3</td>
            <td>odio adipisci rerumaut animi</td>
        </tr>
        <tr>
            <td>Lew@alysha.tv</td>
            <td>4</td>
            <td>alias odio sit</td>
        </tr>
    </table>

    <p>To undestand the example better, we have added borders to the table.</p>

</body>

</html>